berlin

lat hor
long vert

extreme W: 52°25'23.8"N 13°05'57.3"E      "extreme" E: 52°27'43.9"N 13°38'44.9"E

"extreme" N: 52°38'42.2"N 13°23'55.0"E
"extreme" S: 52°22'51.4"N 13°24'54.3"E

N 
52.645883, 13.395869

s
52.381789, 13.405482

W
52.484773, 13.136317

E
52.526568, 13.645808

A quick trick to create random lat/long coordinates in python (within a defined polygon)
https://medium.com/the-data-journal/a-quick-trick-to-create-random-lat-long-coordinates-in-python-within-a-defined-polygon-e8997f05123a

In [1]:
# Importing Modules
import numpy as np
import random
# Use 'conda install shapely' to import the shapely library.
from shapely.geometry import Polygon, Point

In [2]:
# Define the desired polygon 

poly = Polygon([(52.645883, 13.395869), 
                (52.526568, 13.645808),
                (52.381789, 13.405482),
                (52.484773, 13.136317)])

In [3]:
# # Define the desired polygon 

# poly = Polygon([(37.75850848099701, -122.50833008408812), 
#                 (37.75911919711413, -122.49648544907835),
#                 (37.751620611284935, -122.4937388670471),
#                 (37.74863453749236, -122.50742886185911)])

In [4]:
num_points = 10
min_x = 52.381789
max_x = 52.645883
min_y = 13.136317
max_y = 13.645808

# Defining the randomization generator
def polygon_random_points (poly, num_points):
    min_x, min_y, max_x, max_y = poly.bounds
    points = []
    while len(points) < num_points:
        random_point = Point([random.uniform(min_x, max_x), random.uniform(min_y, max_y)])
        if (random_point.within(poly)):
            points.append(random_point)
    return points
# Choose the number of points desired. This example uses 20 points. 
points = polygon_random_points(poly,20)
# Printing the results.
for p in points:
    print(p.x,",",p.y)

52.48644469770556 , 13.226815833146564
52.447975241003185 , 13.358854397449624
52.41791978914839 , 13.450380680482501
52.49130356905181 , 13.446165265315104
52.57001710833121 , 13.359089875704703
52.39599655410929 , 13.37305811574538
52.434086936750425 , 13.295986583849885
52.42224427497193 , 13.349446215027593
52.49067667085042 , 13.318886147516684
52.52667859791913 , 13.472075091274473
52.426910907464496 , 13.35078371453477
52.429315403830245 , 13.393266426846285
52.515327617932115 , 13.563381791206599
52.57570683352852 , 13.298203294177956
52.59817770826442 , 13.466222095236837
52.478268922408496 , 13.513055137884601
52.47801205202538 , 13.536146443175916
52.56675160346833 , 13.380749154021252
52.51466377867114 , 13.46435027456831
52.59207937897908 , 13.499953982588874

In [6]:
from faker import Faker
fake = Faker()
from faker.providers import BaseProvider

mylist = ['bar', 'card']
class MyProvider(BaseProvider):
    def foo(self) -> str:
#         return 'bar'
        return mylist

fake.add_provider(MyProvider)
fake.foo()

['bar', 'card']

In [10]:
# Define the desired polygon : points choosen in Google maps

poly = Polygon([(52.645883, 13.395869), 
                (52.526568, 13.645808),
                (52.381789, 13.405482),
                (52.484773, 13.136317)])

In [11]:

min_x = 52.381789
max_x = 52.645883
min_y = 13.136317
max_y = 13.645808

# Defining the randomization generator
def polygon_random_points (poly, num_records):
    min_x, min_y, max_x, max_y = poly.bounds
    points = []
    while len(points) < num_records:
        random_point = Point([random.uniform(min_x, max_x), random.uniform(min_y, max_y)])
        if (random_point.within(poly)):
            points.append(random_point)
    return points
    # Choose the number of points desired. T\ 
points = polygon_random_points(poly,num_records)
# Testing the results.
for p in points:
    print(p.x,",",p.y)

52.50149105643365 , 13.24625717830315
52.44112607070957 , 13.393712646623431
52.53519239439992 , 13.450493648977147
52.472914712564084 , 13.284327869692126
52.484779028163636 , 13.435990480841987
52.539053015508486 , 13.459078443434315
52.55465209895593 , 13.366196616269963
52.55569580939928 , 13.325715579771801
52.46226728670978 , 13.23603911047055
52.59614540099615 , 13.333693700208324

In [15]:
num_records = 10
item_lat_lng = [polygon_random_points(poly,1) for i in range(num_records)][0]
for i in item_lat_lng:
    print(i)

POINT (52.51544513738462 13.22236643648783)

In [21]:
from faker import Faker
fake = Faker()
Faker.seed(0)

series = (fake.time_series(start_date='-7d', end_date='now')), (fake.time_series(start_date='-7d', end_date='now'));

for p in series:
    print(p)
#     print('start:', p)
#     print('end: ', p)
#     print(p[0])
    
# for val in series:
#     print(val[0])

<generator object Provider.time_series at 0x7fc1fad8b5a0>
<generator object Provider.time_series at 0x7fc1fad8bc30>

In [23]:

# for_model_mock_df = pd.DataFrame({'item_datetime_posted': [german_locale_generator.date_time_this_year() for i in range(num_records)], 
#                                   'item_datetime_statuschanged': [german_locale_generator.date_time_this_year() for i in range(num_records) 
#                                                                   if german_locale_generator.date_time_this_year() > item_datetime_posted]
#                                   })


# import pandas as pd
print(fake.date_this_month().strftime('%m-%d-%Y'))
print(fake.time())

# # Start and end dates to generate data
# my_start = pd.to_datetime('01-01-2021')
# my_end = pd.to_datetime('12-31-2021')

print(f'Random date between {my_start} & {my_end}')
fake.date_between_dates(my_start, my_end).strftime('%m-%d-%Y')

02-19-2023
08:43:22

NameError: name 'my_start' is not defined

In [24]:
industry = ['Automotive','Health Care','Manufacturing','High Tech','Retail']

# Instantiate Faker with multiple locales
# fake = Faker(['en_US','de_DE','pt_BR','ja_JP','zh-CN']) 
def create_data(x): 
  
    # dictionary 
    b_user ={} 
    for i in range(0, x): 
        b_user[i] = {} 
        b_user[i]['name'] = fake.name()
        b_user[i]['job'] = fake.job()
        b_user[i]['birthdate'] = fake.date_of_birth(minimum_age=18,maximum_age=65)
        b_user[i]['email'] = fake.company_email()
        b_user[i]['company'] = fake.company()
        b_user[i]['industry'] = fake.random_element(industry)
        b_user[i]['city'] = fake.city()
        b_user[i]['state'] = fake.state()
        b_user[i]['zipcode'] = fake.postcode()
        b_user[i]['netNew'] = fake.boolean(chance_of_getting_true=65)
        b_user[i]['sales_rounded'] = round(np.random.normal(1000,200))
        b_user[i]['sales_decimal'] = np.random.normal(1000,200)
        b_user[i]['priority'] = fake.random_digit()
        b_user[i]['industry2'] = np.random.choice(industry)        
        
    return b_user

In [28]:
import pandas as pd
df = pd.DataFrame(create_data(1000)).transpose()
df.head(10)

,name,job,birthdate,email,company,industry,city,state,zipcode,netNew,sales_rounded,sales_decimal,priority,industry2
0,Robert Cooke,"Engineer, chemical",1988-09-06,crystal98@rivera-green.info,"Ochoa, Snow and Stark",Manufacturing,Amandaview,Maryland,59907,True,820,1227.421677,7,High Tech
1,Penny Bailey,Therapeutic radiographer,1992-09-28,jeremy75@williamson-flores.com,Perry Group,Automotive,Port Carol,Rhode Island,86848,True,947,1108.352755,0,Automotive
2,Gregory Salazar,"Engineer, materials",1969-05-08,mcmillancassandra@hull-garcia.com,Jones-Fitzpatrick,Automotive,Lake Davidhaven,North Dakota,70491,False,777,930.522434,7,Automotive
3,Anna Cruz,Records manager,1964-02-25,baileytiffany@shaffer.biz,"Cain, Bennett and Spencer",Retail,South Jasontown,Oregon,24697,True,1363,844.385297,7,Automotive
4,Angela Duncan,Architect,1987-01-16,grichardson@peterson-smith.com,"Mathews, Morgan and Nichols",Retail,New Bradley,Iowa,69518,False,1052,818.659012,9,Health Care
5,John Ortega,"Education officer, environmental",1993-09-28,tyler21@smith-gray.com,Nixon Ltd,High Tech,Maxwellfurt,New Hampshire,73427,False,1251,907.809082,7,High Tech
6,Mercedes Duffy,"Conservation officer, historic buildings",1965-11-05,gstone@fowler-green.com,"Berg, Lopez and Cervantes",Automotive,Port Emilybury,Arkansas,78305,False,755,1062.734287,4,Retail
7,Catherine Ramirez,"Buyer, retail",1993-08-08,ivan71@keller.com,Rodriguez-Baker,High Tech,Cherryberg,Kansas,39907,True,1141,515.850703,4,Retail
8,Alexandra Butler,Conference centre manager,1962-05-19,ecollins@lee.com,Torres and Sons,High Tech,West John,Delaware,58017,True,923,761.986973,6,Automotive
9,Jessica Morgan,"Engineer, automotive",1964-12-16,jcamacho@johnson.net,Gross Ltd,High Tech,Laurieberg,Idaho,74005,True,928,1043.7357,9,Automotive

In [29]:
german_locale_generator = Faker(['de_DE'])
user_type = ['giver', 'looker', 'who_pickedup']

user_mock_df = pd.DataFrame({'user_name': [german_locale_generator.name() for i in range(num_records)],
                             'user_email': [german_locale_generator.email() for i in range(num_records)],
                             'user_address': [german_locale_generator.address() for i in range(num_records)],
                             'user_type': [random.choices(user_type, k=1) for i in range(num_records)],
                             'user_lat_lng': [polygon_random_points(poly,1) for i in range(num_records)]

SyntaxError: incomplete input (3069693683.py, line 8)

In [35]:
german_locale_generator = Faker(['de_DE'])
user_type = ['giver', 'looker', 'who_pickedup']
x = num_records

def create_data(x): 
  
    # dictionary 
    user ={} 
    for i in range(0, num_records): 
        user[i] = {} 
        user[i]['name'] = fake.name()
        user[i]['email'] = fake.email()
        user[i]['address'] = german_locale_generator.address()
        user[i]['user_type'] = fake.random_element(user_type)
        user[i]['user_lat_lng'] = polygon_random_points(poly,1)

    return user

In [36]:
user_mock_df = pd.DataFrame(create_data(1000)).transpose()
user_mock_df.head(10)

,name,email,address,user_type,user_lat_lng
0,Christina Thompson,swalter@example.com,Evelin-Ladeck-Platz 1/2\n67623 Bad Mergentheim,looker,[POINT (52.49802702509243 13.4100943860712)]
1,Mr. Luis Hoffman Jr.,nathan42@example.com,Jüttnerweg 27\n11754 Wesel,giver,[POINT (52.47631725836411 13.25599774532669)]
2,Michael Lucero,kristine65@example.org,Ullmannweg 14\n45051 Geithain,giver,[POINT (52.51062935992839 13.5080637750967)]
3,Shelby Fritz,vmorgan@example.net,Herrmannring 91\n85996 Genthin,giver,[POINT (52.47518653862767 13.49095086772233)]
4,Stephanie Harrison,ddavenport@example.net,Junckallee 232\n14782 Suhl,who_pickedup,[POINT (52.45443316651313 13.3100351118932)]
5,Teresa Green,mcurtis@example.com,Löfflerring 05\n04681 Moers,giver,[POINT (52.44630531996688 13.25276911312612)]
6,Shannon Wagner,nchurch@example.net,Gorlitzstraße 5/7\n65961 Neuruppin,giver,[POINT (52.55735545669423 13.39427151501577)]
7,Robert Freeman,johnsonamanda@example.com,Kreinring 3\n36771 Strasburg,looker,[POINT (52.52045839175965 13.40486645958265)]
8,Jordan Blankenship,anthonysmith@example.org,Lorchstraße 5/7\n48318 Worbis,looker,[POINT (52.43303281071445 13.42665166149174)]
9,Jimmy Bass,nicole45@example.org,Täschestr. 1\n10803 Gerolzhofen,who_pickedup,[POINT (52.46282885617907 13.32186805774378)]

In [44]:
def create_datetime_test_data(num_records): 
  
    # dictionary 
    datetime_test ={} 
    for i in range(0, num_records): 
        datetime_test[i] = {} 
        datetime_test[i]['item_datetime_posted'] = german_locale_generator.date_time_this_year()
        datetime_test[i]['item_datetimechangeditemstatus'] = german_locale_generator.date_time_this_year()  # This date shold be later than the post

    return datetime_test

In [61]:
def create_datetime_test_data(num_records): 
  
    # dictionary 
    datetime_test ={} 
    for i in range(0, num_records): 
        datetime_test[i] = {} 
        iteration1 = fake.date_between_dates('-7d','now')
        iteration2 = fake.date_between_dates('-7d','now')
        if iteration1 <= iteration2:
            datetime_test[i]['col1'] = iteration1
            datetime_test[i]['col2'] = iteration2
        else:
            datetime_test[i]['col1'] = iteration2
            datetime_test[i]['col2'] = iteration1

    return datetime_test

In [62]:
datetime_datetime_test_mock_df = pd.DataFrame(create_datetime_test_data(1000)).transpose()
datetime_datetime_test_mock_df.head(5)

         col1        col2
0  2023-02-19  2023-02-20
1  2023-02-22  2023-02-24
2  2023-02-19  2023-02-21
3  2023-02-19  2023-02-23
4  2023-02-23  2023-02-24

In [ ]:


for i in datetime_datetime_test_mock_df: 
    
    if col2 < col1:
        col1.value = col2.value

In [47]:
series = fake.time_series(start_date='-12d', end_date='now', precision=TOTAL_SECONDS)

for val in series:
    print(val[0])

NameError: name 'TOTAL_SECONDS' is not defined

In [48]:
from faker import Faker

fake = Faker()

class MyTimeSeriies(BaseProvider):
    def date_start, date_end:
        model = time_series

    # Shows up
full_date = factory.LazyAttribute(lambda p: '{} {}'.format(fake.time_series(), fake.time_series()))

NameError: name 'factory' is not defined

In [ ]:
from faker import Faker
fake = Faker()
from faker.providers import BaseProvider

mylist = ['bar', 'card']
class MyProvider(BaseProvider):
    def foo(self) -> str:
#         return 'bar'
        return mylist

fake.add_provider(MyProvider)
fake.foo()